<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/22/12/2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np

In [41]:
a={
    'NAME':['MANOJ','RAM','SAM','KUMAR','ARUN'],
     "AGE":[18,20,30,40,50]
}
b=pd.DataFrame(a)
b

    NAME  AGE
0  MANOJ   18
1    RAM   20
2    SAM   30
3  KUMAR   40
4   ARUN   50

In [52]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    5 non-null      int64
 1   AGE     5 non-null      int64
 2   a       5 non-null      object
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [53]:
b.describe()

       NAME        AGE
count   5.0   5.000000
mean   12.0  31.600000
std     0.0  13.520355
min    12.0  18.000000
25%    12.0  20.000000
50%    12.0  30.000000
75%    12.0  40.000000
max    12.0  50.000000

In [18]:
b.size

10

In [19]:
b.shape

(5, 2)

In [51]:
c=pd.Series(['LANGUAGE KNOWN','tamil','english','hindi','telugu'])
b['a']=c
b

   NAME  AGE               a
0    12   18  LANGUAGE KNOWN
1    12   20           tamil
2    12   30         english
3    12   40           hindi
4    12   50          telugu

In [57]:
b['NAME']='PERSON'
b

     NAME  AGE               a
0  PERSON   18  LANGUAGE KNOWN
1  PERSON   20           tamil
2  PERSON   30         english
3  PERSON   40           hindi
4  PERSON   50          telugu