<a href="https://colab.research.google.com/github/manoj-raghav/python-for-Data-Science/blob/main/Untitled75.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DICTIONARIES

In [50]:
my_dict={
    'name1':'MANOJ',
 'name2':'KISHOOR',
 'name3':'RAMU',
 'name4':'KUMAR',
 'name5':'SABARI'
}
print(my_dict)

{'name1': 'MANOJ', 'name2': 'KISHOOR', 'name3': 'RAMU', 'name4': 'KUMAR', 'name5': 'SABARI'}

In [51]:
print(my_dict["name3"])

RAMU

In [55]:
print(my_dict['MANOJ'])

KeyError: ignored

In [70]:
my_dict={
    'name1':'MANOJ',
 'name2':'KISHOOR',
 'name3':'RAMU',
 'name4':'KUMAR',
 'name5':['manoj','kishoor','ramu','kumar']
}
my_dict

{'name1': 'MANOJ',
 'name2': 'KISHOOR',
 'name3': 'RAMU',
 'name4': 'KUMAR',
 'name5': ['manoj', 'kishoor', 'ramu', 'kumar']}

In [59]:
x=my_dict.get('name3')
x

'RAMU'

In [60]:
x=my_dict.keys()
x

dict_keys(['name1', 'name2', 'name3', 'name4', 'name5'])

In [64]:
x=my_dict.values()
x

dict_values(['MANOJ', 'KISHOOR', 'RAMU', 'KUMAR', ['manoj', 'kishoor', 'ramu', 'kumar']])

Adding/altering the keys and values in dictionary

In [71]:
my_dict['name55']='manager'
my_dict

{'name1': 'MANOJ',
 'name2': 'KISHOOR',
 'name3': 'RAMU',
 'name4': 'KUMAR',
 'name5': ['manoj', 'kishoor', 'ramu', 'kumar'],
 'name55': 'manager'}

In [74]:
x=my_dict.items()
print(x)  #before change

my_dict['colour']='white'
print(x)  #Ater change

dict_items([('name1', 'MANOJ'), ('name2', 'KISHOOR'), ('name3', 'RAMU'), ('name4', 'KUMAR'), ('name5', ['manoj', 'kishoor', 'ramu', 'kumar']), ('name55', 'manager')])
dict_items([('name1', 'MANOJ'), ('name2', 'KISHOOR'), ('name3', 'RAMU'), ('name4', 'KUMAR'), ('name5', ['manoj', 'kishoor', 'ramu', 'kumar']), ('name55', 'manager'), ('colour', 'white')])

In [94]:
thisdict={
    'brand':'Benz',
    'colour':'Red',
    'year':2003
}
if 'year' in thisdict:
  print(thisdict['year'])

2003