<a href="https://colab.research.google.com/github/manoj-raghav/python-for-Data-Science/blob/main/Untitled78.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTIONS

In [10]:
def myfunc():
  print('FUNCTION CALLED')

myfunc()

FUNCTION CALLED

In [14]:
def myfunc(name):
  print(name+" Agarwal")

myfunc('Manoj')
myfunc('Kishor')

Manoj Agarwal
Kishor Agarwal

In [18]:
def myfunc(name1,name2):
  print('The combined name is: '+(name1+ name2))

myfunc('manoj','agarwal')

The combined name is: manojagarwal

In [21]:
def myfunc(name1,name2):
  print('The combined name is:',name1+' '+name2)

myfunc('manoj','agarwal')

The combined name is: manoj agarwal

In [25]:
def myfunc(*kid):
  print('the youngest kid is '+kid[2])

myfunc('sam','ram','kumar','barath')

the youngest kid is kumarram

In [28]:
def myfunc(*kid):
  print('the youngest kid is '+kid)

myfunc('sam','ram','kumar','barath')

TypeError: ignored

In [33]:
def myfunc(**kid):
  print('His last name is '+kid['lname'])

myfunc(fname='manoj',lname='agarwal')

His last name is agarwal

In [39]:
def my_func(child2,child3,child1):
  print('The youngest of all is ' + child3)

my_func(child1='Ramu',child2='Somu',child3='Prem')

The youngest of all is Prem