<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled54.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np

In [ ]:
#CHECKING DATA TYPE
c.dtype

#converting data type as string
c=np.array([1,2,3,4,5],dtype='S')
c.dtype

#fixing datatype size i.e.fixing 4 bytes integer
c=np.array([1,2,33,4,5],dtype='i4')
c.dtype

dtype('int32')

In [ ]:
#value error
c=np.array(['a','1','3'],dtype='i')
c.dtype

#elements should be of similar type

ValueError: ignored

In [ ]:
#converting data type of a predefined array
c=np.array([1,2,3,4,5,6,7])
data=c.dtype

let=c.astype('S')
met=c.astype('i4')

print(data)
print(let.dtype)
print(met.dtype)

int64
|S21
int32

In [ ]:
#converting elements of the array into our desired data type
c=np.array([1.2,2.3,0,6.7])
let=c.dtype

met=c.astype(int)

print(let)
print(met)

#float values have beeen converted into int type

cat=c.astype(bool)
print(cat)

float64
[1 2 0 6]
[ True  True False  True]

COPY VS VIEW

In [ ]:
#changing original values and viewing the array
c=np.array([1,2,3,4,5])
m=c.view()
c[1]=12

print(m)
print(c)

[ 1 12  3  4  5]
[ 1 12  3  4  5]

In [ ]:
x=c.copy()
y=c.view()

print(x.base)
print(y.base)

#copy owns the data and hence it shows as none
#but view doesnt store the data and hence it shows the data which has been asssigned to it currently
#base is the key word

None
[ 1 12  3  4  5]