<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
a=np.zeros((3,3))
print(a)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
print(np.zeros((3,3)))

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
print(np.ones((3,3)))

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [2]:
import pandas as pd
d={"col1":[10,20,30,40],"col2":[10,30,405,50]}
pd.DataFrame(d)

   col1  col2
0    10    10
1    20    30
2    30   405
3    40    50