<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

ARRAY ITERATION

ITERATION FOR 1D ARRAY

In [14]:
a=np.array([1,2,3,4,5])
for i in a:
  print(i)

1
2
3
4
5

In [15]:
for i in a:
  print(a)
#print the array to the number of times equal to the length of the array

[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]

ITERATION FOR 2D ARRAY

In [19]:
a=np.array([[1,2,3,4],[5,6,7,8]])
for i in a:
  print(i)

[1 2 3 4]
[5 6 7 8]

In [24]:
for i in a:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8

In [25]:
for i in a:
  for j in i:
    print(a)
#8 times the array will be printed

[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]
[[1 2 3 4]
 [5 6 7 8]]

ITERATION FOR 3D ARRAY

In [37]:
a=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[1,2,3]]])
for i in a:
  for j in i:
    for k in j:
      print(k)

print('\n------------------------\n')
  
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
1
2
3

------------------------

[[1 2 3]
 [4 5 6]]
[[7 8 9]
 [1 2 3]]

nditer()

In [38]:
#using nditer() for iteration
#instead of using multiple for loops we can use the function called nditer()

for i in np.nditer(a):
  print(i)

1
2
3
4
5
6
7
8
9
1
2
3