<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [14]:
df=pd.DataFrame({'population':[12900,7989898,234343,79898],
                 'GDP':[98,45,23,65],
                 'Area':[129000,8980000,340000,454000]
                 })
df.index=['CANADA','INDIA','CHINA','JAPAN']
df

        population  GDP     Area
CANADA       12900   98   129000
INDIA      7989898   45  8980000
CHINA       234343   23   340000
JAPAN        79898   65   454000

In [19]:
df['CANADA':'INDIA'].mean()

population    4001399.0
GDP                71.5
Area          4554500.0
dtype: float64

In [25]:
df['CANADA':'INDIA'].sum()

population    8002798
GDP               143
Area          9109000
dtype: int64

population     12900
GDP               98
Area          129000
Name: CANADA, dtype: int64

In [33]:
df.iloc[0:2,0:2]

        population  GDP
CANADA       12900   98
INDIA      7989898   45

In [34]:
df[df>100]

        population  GDP     Area
CANADA       12900  NaN   129000
INDIA      7989898  NaN  8980000
CHINA       234343  NaN   340000
JAPAN        79898  NaN   454000