<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled57.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

BUFFERED

In [ ]:
#to convert data types of elements of array we use op_dtypes which requires a space called buffer
a=np.array([[1,2,3]])
for i in np.nditer(a,flags=['buffered'],op_dtypes=['S']):
  print(i)

b'1'
b'2'
b'3'
int64

In [ ]:
a=np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])
for i in np.nditer(a[:,::2]):
  print(i)

#[:,::2]-star fromm 0 and run till end and increase position by 2

1
3
5
7
9
11

ENUMERATION

In [ ]:
a=np.array([1,2,3,4])
for idx ,x in np.ndenumerate(a):
  print(idx,x)

(0,) 1
(1,) 2
(2,) 3
(3,) 4

In [ ]:
#for printing the index along with the elememt
a=np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])

for idx, x in np.ndenumerate(a):
  print(idx,x)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(0, 3) 4
(0, 4) 5
(0, 5) 6
(1, 0) 7
(1, 1) 8
(1, 2) 9
(1, 3) 10
(1, 4) 11
(1, 5) 12