<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame({
    "COUNTRY":['canada','india','africa','china','japan'],
    'POPULATION':[12,32,54,76,89],
    'GDP':[21,89,35,65,43],
    'AVG':[5,39,75,23,84]
})
df

  COUNTRY  POPULATION  GDP  AVG
0  canada          12   21    5
1   india          32   89   39
2  africa          54   35   75
3   china          76   65   23
4   japan          89   43   84

In [18]:
df.rename(columns={
    'POPULATION':'POPUL'
})

  COUNTRY  POPUL  GDP  AVG
0  canada     12   21    5
1   india     32   89   39
2  africa     54   35   75
3   china     76   65   23
4   japan     89   43   84

In [21]:
df.index=['a','s','d','f','g']
df

  COUNTRY  POPULATION  GDP  AVG
a  canada          12   21    5
s   india          32   89   39
d  africa          54   35   75
f   china          76   65   23
g   japan          89   43   84

In [28]:
df.loc['s':'g']

  COUNTRY  POPULATION  GDP  AVG
s   india          32   89   39
d  africa          54   35   75
f   china          76   65   23
g   japan          89   43   84

In [29]:
df.iloc[1:4]

  COUNTRY  POPULATION  GDP  AVG
s   india          32   89   39
d  africa          54   35   75
f   china          76   65   23

In [49]:
df.iloc[1:5].sum()

COUNTRY       indiaafricachinajapan
POPULATION                      251
GDP                             232
AVG                             221
dtype: object

In [57]:
df.loc['a']

COUNTRY       canada
POPULATION        12
GDP               21
AVG                5
Name: a, dtype: object