<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import numpy as np
df=pd.DataFrame([10,20,30,40,50],[90,80,70,60,50])
print(df.iloc[-5:3])

     0
90  10
80  20
70  30

In [71]:
dictionary={"name":[1,1,1,2,3,4],"age":[1,2,2,2,3,4]}
d=pd.DataFrame(dictionary)
d.drop('age',axis=1,inplace=True)
print(d)

   name
0     1
1     2
2     3
3     4

In [93]:

dictionary={'name':[1,2,3,4,5,],'age':[1,2,3,4,5]}


d=pd.DataFrame(dictionary)

d.drop('name',axis=1,inplace=True)
print(d)

   age
0    1
1    2
2    3
3    4
4    5

In [99]:
dictionary={
    "name":[1,2,3,45,5],
    "age":[1,2,3,4,5,]
}
d=pd.DataFrame(dictionary)

d.drop('name',axis=1)
print(d)

   name  age
0     1    1
1     2    2
2     3    3
3    45    4
4     5    5