<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({
    'NAME':['RAM','SAM','SIVA','JOSEPH','JACKLIN','RAHMAN'],
    'AGE':[10,39,73,49,89,25],
    'CALORIE BURNT':[12.4,45.3,34.8,23.3,56.2,26.5],
    'WEIGHT REDUCED':[1,9,2,3,4,7],
    'AMOUNT SPENT':[10000,21000,32909,84390,23900,3870]
    })
df

      NAME  AGE  CALORIE BURNT  WEIGHT REDUCED  AMOUNT SPENT
0      RAM   10           12.4               1         10000
1      SAM   39           45.3               9         21000
2     SIVA   73           34.8               2         32909
3   JOSEPH   49           23.3               3         84390
4  JACKLIN   89           56.2               4         23900
5   RAHMAN   25           26.5               7          3870

In [11]:
sum=df.sum(0)
sum

NAME              RAMSAMSIVAJOSEPHJACKLINRAHMAN
AGE                                         285
CALORIE BURNT                             198.5
WEIGHT REDUCED                               26
AMOUNT SPENT                             176069
dtype: object

In [10]:
sum=df.sum(1)
sum

0    10023.4
1    21093.3
2    33018.8
3    84465.3
4    24049.2
5     3928.5
dtype: float64

In [31]:
sum1=df['AGE']
sum=sum1.sum()
sum

285

In [39]:
mean=df.mean()
mean

AGE                  47.500000
CALORIE BURNT        33.083333
WEIGHT REDUCED        4.333333
AMOUNT SPENT      29344.833333
dtype: float64

In [41]:
mean=df.mean(1)
mean

0     2505.850
1     5273.325
2     8254.700
3    21116.325
4     6012.300
5      982.125
dtype: float64

In [43]:
std=df.std()
std

AGE                  29.527953
CALORIE BURNT        15.833056
WEIGHT REDUCED        3.076795
AMOUNT SPENT      28862.244614
dtype: float64

In [45]:
percentile=df.std()/df.mean()
percentile

AGE               0.621641
CALORIE BURNT     0.478581
WEIGHT REDUCED    0.710030
AMOUNT SPENT      0.983555
dtype: float64

In [51]:
variant=np.var(df)
variant

AGE               7.265833e+02
CALORIE BURNT     2.089047e+02
WEIGHT REDUCED    7.888889e+00
AMOUNT SPENT      6.941910e+08
dtype: float64